* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav {
  width: 100%;
  background: #161616;
  min-height: 30px;
  padding: 10px;
  padding-right: 20px;
  text-align: center;
  position: fixed;
  box-shadow: 0px 1px 1px #222;
}

.nav {
  /* display: flex;
  justify-content: space-around; */
  font-weight: 500;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: right;
}

.nav li {
  padding: 10px 15px;
  color: #f0f0f0;
  display: inline;
}
.nav a {
  transition: all .5s;
}

header {
  text-align: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('images/mac2.jpeg') no-repeat center;
  background-size: cover;
  color: #f0f0f0;
  padding-bottom: 130px;
  padding-top: 130px;
  font-size: 18px;
  font-family: Optima, sans-serif, Verdana, Tahoma;
  box-shadow: 0px 5px 6px #222;
}

body {
  background: #a5a5a5;
  font-family: Optima, sans-serif, Verdana, Tahoma;
  color: #3f3f3f;
}

/* 
.wrapper {
  min-height: calc(100vh - 244.2px);
} */

footer {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 5px;
  color: #3f3f3f;
  font-family: Optima, sans-serif, Verdana, Tahoma;
  margin-bottom: 10px;
  margin-top: 30px;
}

footer p {
    margin: 10px;
}

a {
  text-decoration: none;
  /* display: block; */
}

a:visited {
  color: white;
}

a:link {
  color: white;
}

a:hover {
  color: grey;
}

.resize {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all .5s;
}

.resize:hover {
  transform: scale(1.1) rotate(3deg);
}

/* .nav-bar {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  text-align: center;
  background: #999999;
  box-shadow: 0px 2px 2px #222;
  font-family: courier;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  font-weight: 300;
} */


.section {
  padding: 30px 20px 20px;
  text-align: center;
  background: #b6b5b5;
  border-radius: 10px;
  width: 40%;
  height: 100%;
}

.section p {
  line-height: 180%;
  margin-bottom: 20px;
}

.part1 {
  float: left;
  margin: 80px 10px 40px 70px;
}

.part2 {
  float: right;
  margin: 80px 70px 40px 10px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

a.email {
  background-image: url(images/envelope.svg);
}
a.github {
  background-image: url(images/github-sign.svg);
}
a.instagram {
  background-image: url(images/instagram-logo.svg);
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.social:hover {
  opacity: 1;
}


/* Media Queries */

@media (max-width: 800px) {

  .section {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }

  .part1 {
    float: none;
  }

  .part2 {
    float: none;
  }
  
}
